$tile-size: 60px

.mod-maze
  font-size: 0
  position: relative

.mod-maze__maps
  width: 100%
  height: 100%
  top: 0
  position: absolute
  opacity: 0
  left: 0
  visibility: hidden

  &.js-maze-active
    visibility: visible
    opacity: 1

.mod-maze__column
  width: $tile-size
  display: inline-flex

  &:last-of-type
    .mod-maze__item
      border-right-width: 1px

  .column-wrapper
    position: relative
    display: block

.mod-maze__item
  width: $tile-size
  height: $tile-size
  border: 1px solid $color-blue-up
  border-right-width: 0
  transition: $transition

  & + &
    border-top-width: 0

  .js-maze-map-found &
    border-color: rgba(black, .4) !important

  &:before, &:after
    content: ''
    position: absolute
    border-radius: 50%
    border: 2px solid rgba(black, .7)
    left: 0

  &:before
    display: none

  &:after
    width: 8px
    height: 8px
    margin: 26px
    border-width: 1px
    background-color: grey

  &.js-maze-area-active
    &:before, &:after
      display: block

    &:before
      width: 38px
      height: 38px
      margin: 11px
      box-shadow: 0 0 6px 2px #76FF03, inset 0 0 5px 1px rgba(black, .8)
      background-color: #76FF03

  &.js-maze-user-active
    &:before
      display: block
      width: 20px
      height: 20px
      margin: 20px
      border-radius: 0

  &.js-maze-target-active
    &:before
      display: block
      width: 0
      height: 0
      margin: 17px 15px
      border-style: solid
      border-radius: 0
      border-width: 0 15px 26.0px 15px
      border-color: transparent transparent #F44336 transparent
      animation: spin 10s linear infinite

@keyframes spin
  0%
    transform: rotate(0deg) translateY(-5px)
  100%
    transform: rotate(360deg) translateY(-5px)
